@page
@model easytransfer.Pages.TransactionListModel

<h1>Transaction History</h1>
<table>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Sender UID</th>
            <th>Receiver UID</th>
            <th>Amount</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.TransactionList)
        {
            <tr>
                <td>@transaction.trhisid</td>
                <td>@transaction.sender</td>
                <td>@transaction.receiver</td>
                <td>@transaction.amount</td>
                <td>@transaction.transactiondate</td>
            </tr>
        }
    </tbody>
</table>